<!DOCTYPE html>
<html>
<head>
	<title>Eat Da Taco!</title>
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	
</head>
<body>
	{{{ body }}}
	<img src="public/img/taco.png" alt="Taco image">
</body>
</html>